/* Colors
---------------------------*/
$whiteColor: #FFFFFF;
$fontColor: #212529;
$linkColor : #0056b3;
$bodyColor: #FFFFFF;            


$primaryColor: #ec4c4c;             
$secondaryColor: #A8AAB2;
$tertiaryColor: #EB7A3F;

/* Fonts
---------------------------*/
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Poiret One', cursive;

/* Font Weight
---------------------------*/
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 600;

/* z-index
---------------------------*/
$zLowIndex: 1;
$zMidIndex: 5;
$zHighIndex: 9;

/* Spaces
---------------------------*/
$tinySpace: 10px;
$smallSpace: 20px;
$mediumSpace: 40px;
$largeSpace: 80px;
$xLargeSpace: 120px;

