.intro-sec {
    
    &__thumbnail {
        border: 5px solid $whiteColor;
    }
    
    &__heading {
        color: $whiteColor;
        font-size: 3rem;
        font-family: $secondaryFont;
    }

    &__desc {
        font-size: 1.3rem;
        font-weight: $lightWeight;
    }

    &__buttons {
        a {
            color: $whiteColor !important;
        }
    }
}

.recent-items {
    margin-top: 100px;

    h3 {
        margin-bottom: 30px;
        font-family: $secondaryFont;
        font-size: 2rem;
    }
}

.events-sec {
    &__heading {
        text-align: center;
        font-family: $secondaryFont;
    }
    
    &__content {
        margin-top: $largeSpace;
        
        .uk-card-title {
            @include one-line-text; 
        }
    }
}

.events-details {
    margin-top: $largeSpace;

    &__heading {
        font-size: 1.1rem;
    }
}

.uk-offcanvas-bar {
    width: 40vw;
}