.nav {
    padding: $tinySpace;
    background: transparent !important;

    &.uk-navbar-sticky {
        background: $whiteColor !important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

        a {
            color: $fontColor !important;
        }
    }
    
    a {
        color: $whiteColor !important;
    }


    &__logo {
        img {
            width: 80px;
        }
    }
}